<div class="container">
    <form  class="form" [formGroup]="userForm" method="onSubmit()">
        <label for="">
            name <input type="text" name="" id="" class="form-control" formControlName="name">
        </label>
<label for="">
    email <input class="form-control" type="text" name="" id="" formControlName="email">
</label>
<button type="submit" class="btn btn-primary mt-2"> submit</button>
    </form>
</div>
 
 <h1>User List</h1>
<ul>
    <li *ngFor="let user of users"> {{user.name}} | {{user.email}} </li>
</ul>